<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamPhish</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.svg' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{% static 'js/canvasjs.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/pwplmzcrujru8rf7rhgttcxzhpm27f7p9h9bdash7r5e0ezr/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="position-sticky">
                    <div class="logo-container">
                        <img src="https://dreamlab.net/global/img/logo.svg" alt="DreamLab Logo" class="navbar-logo">
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}" href="{% url 'dashboard' %}">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/email-templates/' %}active{% endif %}" href="{% url 'email_template_list' %}">
                                Plantillas de Correo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/landing-pages/' %}active{% endif %}" href="{% url 'landing_page_list' %}">
                                Landing Pages
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/groups/' %}active{% endif %}" href="{% url 'group_list' %}">
                                Grupos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/campaigns/' %}active{% endif %}" href="{% url 'campaign_list' %}">
                                Campañas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/smtp/' %}active{% endif %}" href="{% url 'smtp_list' %}">
                                Perfiles SMTP
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/webhooks/' %}active{% endif %}" href="{% url 'webhook_list' %}">
                                Webhooks
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="main-content">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
