{% extends 'core/base.html' %}

{% block content %}
    <h2><span class="material-icons">email</span> Plantillas de Correo</h2>
    <md-filled-tonal-button href="{% url 'add_email_template' %}">
        <span class="material-icons">add</span> Añadir Plantilla
    </md-filled-tonal-button>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Asunto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for template in templates %}
                <tr>
                    <td>{{ template.name }}</td>
                    <td>{{ template.subject }}</td>
                    <td>
                        <md-filled-tonal-button href="{% url 'edit_email_template' template.id %}">
                            <span class="material-icons">edit</span> Editar
                        </md-filled-tonal-button>
                        <form method="post" action="{% url 'delete_email_template' template.id %}" style="display:inline;">
                            {% csrf_token %}
                            <md-filled-tonal-button type="submit" onclick="return confirm('¿Estás seguro de que quieres eliminar esta plantilla?')">
                                <span class="material-icons">delete</span> Eliminar
                            </md-filled-tonal-button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No hay plantillas de correo.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
