{% extends 'core/base.html' %}

{% block content %}
    <h2>Lista de Landing Pages</h2>
    <a href="{% url 'upload_landing_page_template' %}" class="btn btn-primary">Subir Landing Page</a>
    {% for group, landing_pages in landing_pages_by_group.items %}
        <h3>{{ group.name }}</h3>
        <form method="post" action="{% url 'delete_landing_group' group.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar este grupo y todas las landing pages asociadas?')">Eliminar Grupo</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for landing_page in landing_pages %}
                    <tr>
                        <td>{{ landing_page.name }}</td>
                        <td>
                            <a href="{% url 'edit_landing_page' landing_page.id %}" class="btn btn-sm btn-warning">Editar</a>
                            <form method="post" action="{% url 'delete_landing_page' landing_page.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar esta landing page?')">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No hay landing pages en este grupo.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% empty %}
        <p>No hay grupos de landing pages.</p>
    {% endfor %}
{% endblock %}
