{% extends 'core/base.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}

{% block content %}
<div class="dashboard-container">
    <div class="dashboard-header">
        <h2>Dashboard</h2>
        <form method="get" class="campaign-selector">
            <div class="select-wrapper">
                <select name="campaign" id="campaign" class="custom-select" onchange="this.form.submit()">
                    <option value="">Todas las campañas</option>
                    {% for campaign in campaigns %}
                        <option value="{{ campaign.id }}" {% if selected_campaign.id == campaign.id %}selected{% endif %}>
                            {{ campaign.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>

    {% if selected_campaign %}
        <div class="campaign-selected content-div">
            <h3>{{ selected_campaign.name }}</h3>
            <a href="{% url 'export_campaign_results' selected_campaign.id 'excel' %}" class="export-btn">
                <i class="material-icons">file_download</i>Exportar a Excel
            </a>

            <div class="row chart-row">
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Resumen de Email</h5>
                            <div id="emailOverviewChart" class="chart-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Resumen Web</h5>
                            <div id="webOverviewChart" class="chart-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Emails Enviados</h5>
                            <div id="emailSentChart" class="chart-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Emails Abiertos</h5>
                            <div id="emailOpenedChart" class="chart-container"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="results-container">
                {% for result in results %}
                    <div class="result-card">
                        <div class="result-card-header" onclick="toggleCardDetails({{ result.id }})">
                            <div class="result-card-main-info">
                                <span class="result-email">{{ result.target.email }}</span>
                                <div class="result-status-icons">
                                    <i class="material-icons status-icon {% if result.email_sent %}sent{% else %}not-sent{% endif %}">
                                        {% if result.email_sent %}check_circle{% else %}cancel{% endif %}
                                    </i>
                                    <i class="material-icons status-icon {% if result.email_opened %}opened{% else %}not-opened{% endif %}">
                                        {% if result.email_opened %}visibility{% else %}visibility_off{% endif %}
                                    </i>
                                    <i class="material-icons status-icon {% if result.landing_page_opened %}interacted{% else %}not-interacted{% endif %}">
                                        {% if result.landing_page_opened %}touch_app{% else %}do_not_touch{% endif %}
                                    </i>
                                </div>
                            </div>
                            <i class="material-icons expand-icon">expand_more</i>
                        </div>
                        <div class="result-card-details" id="details-{{ result.id }}">
                            <div class="target-details">
                                <h4>Detalles del Objetivo</h4>
                                <div class="detail-grid">
                                    <div class="detail-item">
                                        <span class="detail-label">IP:</span>
                                        <span class="detail-value">{{ result.ip_address|default:"No disponible" }}</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="detail-label">User Agent:</span>
                                        <span class="detail-value">{{ result.user_agent|default:"No disponible" }}</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="detail-label">Fecha de envío:</span>
                                        <span class="detail-value">{{ result.sent_timestamp|default:"No disponible" }}</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="detail-label">Fecha de apertura:</span>
                                        <span class="detail-value">{{ result.opened_timestamp|default:"No disponible" }}</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="detail-label">Fecha de apertura de landing page:</span>
                                        <span class="detail-value">{{ result.landing_page_opened_timestamp|default:"No disponible" }}</span>
                                    </div>
                                </div>
                                <h5>Datos Enviados:</h5>
                                <ul class="submitted-data">
                                    {% if result.post_data %}
                                        {% for key, value in result.post_data.items %}
                                            <li><strong>{{ key }}:</strong> {{ value }}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li>No hay datos enviados.</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="no-results">No hay resultados para esta campaña.</p>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="no-campaign-selected">
            <i class="material-icons">campaign</i>
            <p>Seleccione una campaña para ver sus resultados</p>
        </div>
    {% endif %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var chartData = {{ chart_data|safe }};
    
    // Configuración común para todos los gráficos
    var commonOptions = {
        chart: {
            height: '100%',
            width: '100%',
        },
        responsive: [{
            breakpoint: 768,
            options: {
                chart: {
                    height: '100%',
                    width: '100%',
                },
            }
        }]
    };

    // Gráfico de resumen de email
    var emailOverviewOptions = {
        ...commonOptions,
        series: [chartData[1].y, chartData[2].y, chartData[3].y],
        chart: {
            ...commonOptions.chart,
            type: 'donut',
        },
        labels: ['Enviados', 'Abiertos', 'Interacciones Web'],
    };
    var emailOverviewChart = new ApexCharts(document.querySelector("#emailOverviewChart"), emailOverviewOptions);
    emailOverviewChart.render();

    // Gráfico de resumen web
    var webOverviewOptions = {
        ...commonOptions,
        series: [chartData[3].y],
        chart: {
            ...commonOptions.chart,
            type: 'radialBar',
        },
        plotOptions: {
            radialBar: {
                hollow: {
                    size: '70%',
                }
            },
        },
        labels: ['Interacciones Web'],
    };
    var webOverviewChart = new ApexCharts(document.querySelector("#webOverviewChart"), webOverviewOptions);
    webOverviewChart.render();

    // Gráfico de emails enviados
    var emailSentOptions = {
        ...commonOptions,
        series: [chartData[1].y],
        chart: {
            ...commonOptions.chart,
            type: 'radialBar',
        },
        plotOptions: {
            radialBar: {
                hollow: {
                    size: '70%',
                }
            },
        },
        labels: ['Enviados'],
    };
    var emailSentChart = new ApexCharts(document.querySelector("#emailSentChart"), emailSentOptions);
    emailSentChart.render();

    // Gráfico de emails abiertos
    var emailOpenedOptions = {
        ...commonOptions,
        series: [chartData[2].y],
        chart: {
            ...commonOptions.chart,
            type: 'radialBar',
        },
        plotOptions: {
            radialBar: {
                hollow: {
                    size: '70%',
                }
            },
        },
        labels: ['Abiertos'],
    };
    var emailOpenedChart = new ApexCharts(document.querySelector("#emailOpenedChart"), emailOpenedOptions);
    emailOpenedChart.render();

    // Gráfico de interacciones web
    var webInteractionOptions = {
        ...commonOptions,
        series: [chartData[3].y],
        chart: {
            ...commonOptions.chart,
            type: 'radialBar',
        },
        plotOptions: {
            radialBar: {
                hollow: {
                    size: '70%',
                }
            },
        },
        labels: ['Interacciones'],
    };
    var webInteractionChart = new ApexCharts(document.querySelector("#webInteractionChart"), webInteractionOptions);
    webInteractionChart.render();
});

function toggleCardDetails(resultId) {
    const detailsElement = document.getElementById(`details-${resultId}`);
    const cardElement = detailsElement.closest('.result-card');
    const expandIcon = cardElement.querySelector('.expand-icon');
    
    detailsElement.classList.toggle('expanded');
    expandIcon.style.transform = detailsElement.classList.contains('expanded') ? 'rotate(180deg)' : 'rotate(0deg)';
}
</script>
{% endblock %}
